* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-image: linear-gradient(
    to top,
    #cfabf9,
    #c7a3f9,
    #bf9cf9,
    #b694fa,
    #ad8dfa
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
}

.container {
  font-size: 2.5rem;
  color: #5f3dc4;
  padding: 4rem;
  border-radius: 30px;
  background-color: #f3f0ff;
  max-width: 45rem;
  max-height: 55rem;
  border-radius: 25px;
  overflow: hidden;
}
.calculator-div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
/* *************************** */
.header {
  margin-bottom: 5rem;
}
.title {
  text-align: center;
}
.bill,
.tip,
.people {
  display: flex;
  justify-content: space-between;
}
.bill-data,
.tip-data,
.person-data {
  display: flex;
  justify-content: space-evenly;
}

.div-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #b097fc48;
  padding: 2rem;
  border-radius: 20px;
  margin-top: 1rem;
  font-size: 2rem;
}
.results {
  display: flex;
  justify-content: space-between;
}

/* *************************** */
input[type="number"] {
  background-color: #b097fc58;
  border: none;
  border-radius: 10px;
  width: 15rem;
  color: #5f3dc4;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 50%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #b197fc;
  border-radius: 1rem;
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -2.5px;
  background-color: #745acf;
  border-radius: 1rem;
  height: 1rem;
  width: 7%;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #745acf;
  outline-offset: 0.125rem;
}
